@charset "UTF-8";
@import "../../node_modules/normalize.css/normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap");
* {
  --color-letra:red;
  box-sizing: border-box;
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
  max-width: 100%;
}

h1 {
  color: var(--color-letra);
  margin: 15px;
}

main {
  margin-top: 100px;
}

.logoNil{
  width: 80px;
  height: 80px;
}

header {
  z-index: 100;
  background-color: #000;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  max-width: 100%;
  padding: 10px;
  display: flex;
  position: fixed;
  top: 0;
}

nav {
  margin: auto;
  text-align: center;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 20px;
  font-weight: bold;
}

nav ul li{
  list-style: none;
}

nav ul li a {
  color: white;
}

a.selected {
  color: var(--color-letra) !important;
}

nav ul li a:hover, .enlaces-pagina ul li a:hover {
  color: var(--color-letra);
  cursor: pointer;
}

.redes {
  display: flex;
  gap: 30px;
  font-size: 20px;
  margin-right: 20px;
  margin-left: 10px;
  padding: 5px;
}
.redes a {
  color: white;
}
.redes a:hover {
  color: var(--color-letra);
  cursor: pointer;
}

#inicio {
  background-color: black;
  background-image: url("../images/logo.png");
  background-size: 400px 400px;
  background-repeat: no-repeat;
  background-position: center;
}

#icono-nav {
  display: none;
}

.presentacion {
  height: 1000px;
  margin: auto;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.presentacion h2 {
  font-size: 40px;
  letter-spacing: 5px;
  margin-top: 190px;
  text-transform: uppercase;
  margin-bottom: 15px;
  text-align: center;
}
.presentacion h2 span {
  font-size: 30px;
  color: var(--color-letra);
}
.presentacion a {
  color: black;
  text-decoration: none;
  border: 2px white solid;
  padding: 20px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 500px;
  transition: 0.4s;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 88% 86%, 75% 100%, 46% 90%, 0 100%);
  background-color: white;
}
.presentacion a:hover {
  background-color: var(--color-letra);
  cursor: pointer;
}

/*Seccion Últimos Conciertos*/
#conciertos {
  position: relative;
  color: white;
  text-align: center;
  padding: 80px;
  overflow: hidden; 
  background-color: black;
  z-index: 1;
}

#conciertos::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/proximosConciertos.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  z-index: -1; 
}

#conciertos h3 {
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 25px;
  color: white;
}

.conciertos {
  gap: 30px;
  display: grid;
  margin-top: 100px;
  margin-bottom: 100px;
  z-index: 1;
}

.concierto {
  text-align: center;
  cursor: pointer;
  background-color: black;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: bold;
  transition: all 0.5s;
  display: block;
  width: 70%;
  margin: auto;
  border: 2px solid white;
  z-index: 2;
}
.concierto:hover {
  box-shadow: 0 0 10px black;
  cursor: pointer;
}
.concierto .icono {
  font-size: 25px;
  display: inline-block;
}

/*Sección NuevoAlbum*/
#nuevoAlbum {
  position: relative;
  color: white;
  text-align: center;
  padding: 80px;
  overflow: hidden; 
  background-color: black;
  z-index: -1;
}

#nuevoAlbum::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/nuevoAlbum.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
  z-index: -1; 
}
#nuevoAlbum h3 {
  margin-top: 40px;
  margin-bottom: 40px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-align: center;
  font-size: 22px;
}

.nuevoAlbum .cancion {
  max-width: 650px;
  margin: 20px auto;
}
.nuevoAlbum .cancion .info {
  display: flex;
  justify-content: space-between;
}
.nuevoAlbum .cancion .lista {
  display: inline-block;
  margin-right: 20px;
  height: 15px;
  width: 15px;
  background-color: white;
}
.nuevoAlbum .cancion .barra {
  color: white;
  width: 100%;
  height: 5px;
  margin: 10px 0;
  background-color: grey;
}

.barra .cancion {
  background-color: #fff;
  width: 95%;
  height: 6px;
  animation: crecimientoBarraCancion 2s forwards;
}



@keyframes crecimientoBarraCancion {
  0% {
    width: 0;
  }
  100% {
    width: 95%;
  }
}
/*Sección Contacto*/
#contacto {
  background-color: #8C8A8A;
  padding: 60px;
}
#contacto h3 {
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-decoration: underline;
  color: white;
  text-decoration-color: #d3d3d3;
  text-decoration-thickness: 5px;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 22px;
}
#contacto .contenedor-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#contacto .contenedor-form .mitad {
  display: flex;
  gap: 20px;
}
#contacto .contenedor-form .mitad input {
  border: solid 1px black;
  border-radius: 10px;
  padding: 15px;
  width: 100%;
  font-size: 15px;
}
#contacto .contenedor-form .fila input, #contacto .contenedor-form .fila textarea {
  border: solid 1px black;
  border-radius: 10px;
  padding: 15px;
  width: 100%;
  font-size: 15px;
}
#contacto .contenedor-form .btn {
  width: auto;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: black;
  cursor: pointer;
  font-weight: bold;
  height: 50px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 88% 86%, 75% 100%, 46% 90%, 0 100%);
}
#contacto .contenedor-form .btn:hover {
  background-color: black;
  color: white;
}

/*Página Categorias*/
#premiosCanciones {
  width: 90%;
  color: white;
  min-height: 400px;
  margin: 150px auto 50px;
  background-image: linear-gradient(rgba(1, 0, 0, 0.8), rgb(0, 0, 1)), url(../images/premiosNil.jpg);
  background-position: center;
  background-size: 60%;
  padding: 20px;
}
#premiosCanciones h2 {
  padding: 40px;
  text-align: center;
  color: white;
}
#premiosCanciones ul {
  display: block;
  justify-content: space-around;
  width: 70%;
  margin: auto;
}
#premiosCanciones ul li {
  color: white;
  font-weight: bold;
  margin: 20px;
  line-height: 1.5;
}

.recortesprensa {
  margin-top: 50px;
  margin-bottom: 50px;
}
.recortesprensa h3 {
  letter-spacing: 1.5px;
  font-size: 22px;
  text-decoration: underline;
  text-decoration-color: grey;
  text-decoration-thickness: 5px;
  text-transform: uppercase;
  margin-bottom: 40px;
  margin-top: 40px;
  text-align: center;
}

#premiosCanciones h2, #discografia h2, #detalles1Album h2 {
  letter-spacing: 1.5px;
  font-size: 22px;
  text-decoration: underline;
  text-decoration-color: grey;
  text-decoration-thickness: 5px;
  text-transform: uppercase;
  margin-bottom: 40px;
  margin-top: 40px;
  text-align: center;
}

#recortesprensa .noticias {
  padding: 25px;
}

.noticias {
  text-align: center;
}

.noticia {
  display: inline-block;
  position: relative;
  max-width: 450px;
  margin-right: 20px;
  max-height: 400px;
}
.noticia .img-p {
  position: relative;
  overflow: hidden;
}

.disco {
  background-color: #d3d3d3;
  border: 2px black solid;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  margin-bottom: 20px;
  color: white;
  padding: 15px;
}
.disco .info {
  font-size: 15px;
  width: 70%;
  text-align: center;
  line-height: 2;
  /* gap: 10px; */
  display: flex;
  flex-direction: column;
}
.disco img {
  padding: 20px;
  width: 30%;
  margin: 20px;
}
.disco a {
  color: #fff;
  background-color: #000;
  margin: 10px auto;
  padding: 8px;
  font-weight: bold;
  text-decoration: none;
  display: inline;
}
.disco a:hover {
  color: var(--color-letra);
}

.disco1 {
  background-image: linear-gradient(rgba(1, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(../images/foto_album_1.jpg);
  background-position: center;
  background-size: 60%;
  margin-left: 100px;
}


.disco2 {
  background-image: linear-gradient(rgba(1, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(../images/foto_album_2.jpg);
  background-position: center;
  background-size: 60%;
  margin-right: 100px;
}

.disco3 {
  background-image: linear-gradient(rgba(1, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url(../images/foto_album_3.jpg);
  background-position: center;
  background-size: 60%;
  margin-left: 100px;
}

.discoDestacada{
  width: 80%;
  display: flex;
  gap: 10px;
}

.discoDestacada .disco{
  flex: 0 0 70%;
}

.discoDestacada .destacadas{
  flex: 0 0 30%;
}

.noticia img {
  max-width: 100%;
  height: auto;
  border: black solid 2px;
  border-radius: 5px;
}
.noticia:hover img {
  filter: grayscale(0);
  cursor: pointer;
}
.noticia .info {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  position: absolute;
  bottom: 6px;
  max-width: 100%;
  min-width: 200px;
  width: 100%;
  transform: translateY(20%);
  opacity: 0;
}
.noticia:hover .info {
  opacity: 1;
  transition: 0.5s;
  transform: translateY(0%);
  cursor: pointer;
}
.noticia a {
  color: white;
}
.noticia a:hover {
  color: red;
}

/*Página detalles Album*/
#detalles1Album {
  margin: 150px auto;
  width: 90%;
}
#detalles1Album p {
  padding: 10px;
  line-height: 1.5;
  margin-bottom: 30px;
}

cite {
  font-size: 17px;
  font-weight: 500;
}

#info-album {
  margin: auto;
  width: 70%;
}
#info-album h2 {
  text-align: center;
}

.info-album {
  display: flex;
  justify-content: center;
}

.listacanciones {
  width: 50%;
  justify-content: space-around;
  line-height: 3;
}

.contenido-multimedia {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.contenido-multimedia img {
  width: 250px;
  height: 200px;
}

#etrevistaAlbum {
  background-image: linear-gradient(rgba(1, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("../images/proximosConciertos.jpg");
  margin-top: 50px;
  padding: 30px;
  color: white;
  font-weight: bold;
}

.pregunta h3 {
  font-size: 22px;
  text-align: center;
  margin-bottom: 10px;
}
.pregunta p {
  font-size: 15px;
}
.pregunta a {
  color: white;
  background-color: black;
  padding: 10px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin: auto;
  width: 70%;
}
.pregunta a:hover {
  color: red;
}

/*Página Presentación*/


    /* Estilos para el SVG animado */

    .animated-line line {
      stroke-dasharray: 150;
      stroke-dashoffset: 0;
      animation: move-line 3s linear infinite;
    }

    @keyframes move-line {
      to {
          stroke-dashoffset: -700;
      }
    }


#presentacion h2 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--color-letra);
  font-size: 35px;
  border: 1px var(--color-letra) solid;
  padding: 15px;
}

#presentacioninicio, #biografia, #datosCuriosos, #colaboraciones {
  color: #fff;
  background: #000;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 100px auto 20px;
  padding: 45px;
  display: flex;
  width: 95%;
}

#presentacion p, #presentacion li {
  width: 80%;
  margin: auto;
  font-weight: bold;
  line-height: 2;
  font-size: 20px;
  justify-content: center;
}
#presentacion ul {
  min-width: 400px;
  height: 300px;
}

.multimedia {
  margin-top: 30px;
  display: ruby;
}
.multimedia img, .multimedia iframe {
  width: 350px;
  height: 280px;
  padding: 20px;
}

#datosCuriosos ol, #colaboraciones ul {
  gap: 30px;
  display: grid;
  width: 100%;
  height: 100%;
}

/*Página enlaces */
#enlaces {
  margin: 150px auto;
  width: 90%;
}

.fuentesContenido {
  color: #fff;
  background: #000;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 95%;
  margin: 100px auto 20px;
  padding: 45px;
  display: flex;
}
.fuentesContenido h2 {
  font-size: 30px;
  text-decoration: dotted;
}
.fuentesContenido h3 {
  font-size: 25px;
}
.fuentesContenido a {
  color: white;
  text-decoration: none;
}
.fuentesContenido a:hover {
  color: var(--color-letra);
  padding: 5px;
  font-weight: bold;
}
.fuentesContenido h3 {
  margin: 10px;
}
.fuentesContenido ul li {
  line-height: 2;
  font-size: 20px;
}

.presentacionEnlaces .videosCanciones ul {
  margin-left: 30px;
}

.categoriaEnlaces .noticiasPrensa ul {
  margin-left: 30px;
}

/*Seccion Footer*/
footer {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 30px;
  font-size: 18px;
  gap: 10px;
}
footer .enlaces-pagina ul{
  display: flex;
  gap: 10px;
}
footer .enlaces-pagina ul li a{
  text-decoration: none;
  color: white;
}

footer .redes-sociales ul {
  display: flex;
  gap: 15px;
}
footer .redes-sociales ul li,
  footer .enlaces-pagina ul li {
  list-style: none;
  color: white;
}
footer .redes-sociales ul li a i {
  color: white;
  font-size: 25px;
}

/* Estilos para pantallas más pequeñas */
@media screen and (max-width: 800px) {
  .redes, nav {
    display: none;
  }
  #icono-nav {
    display: inline;
    color: var(--color-letra);
    font-size: 25px;
  }
  header {
    display: flex;
    width: 100%;
  }
  .responsive {
    background-color: #000;
    width: 100%;
    height: 200px;
    display: flex;
    position: fixed;
    top: -420px;
    bottom: 20px;
    justify-content: end;
    left: 0;
 
  }
  .responsive ul {
    text-align: center;
    display: block !important;
    background-color: black;
    padding: 10px;
  }
  .responsive ul li {
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 5px;
  }
  #icono-nav {
    margin-right: 15px;
    cursor: pointer;
  }
  #sobremi {
    margin-top: 40px;
    display: block;
    text-align: center;
  }
  #sobremi .contenedor-foto {
    max-width: 200px;
    margin: auto;
  }
  #sobremi .contenedor-foto img {
    padding: 0;
    margin-bottom: 30px;
  }
  #sobremi .sobremi h2 {
    font-size: 20px;
  }
  #servicios .servicios {
    display: block;
    margin: auto;
  }
  #servicios .servicios .servicio {
    margin: 15px auto;
  }
  #portafolio .proyectos {
    display: block;
    margin: 15px auto;
  }
  #contacto .contenedor-form .mitad {
    display: block;
  }
  #contacto .contenedor-form .mitad input {
    margin: 15px auto;
  }
  .disco{
    display: block;
  }

  .disco .info{
    width: 100%;
  }

  .disco img{
    width: 70%;
    margin: auto;
    display: flex;
  }
  .disco a {
    display: block;
    width: 60%;
  }

  .discoDestacada{
    display: block;
  }

  .discoDestacada .destacadas{
    width: 50%;
    margin: auto;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  .info-album {
    display: block;
  }
  #info-album {
    width: 100%;
  }
  .listacanciones {
    justify-content: space-around;
    width: 50%;
    line-height: 3;
    display: block;
    margin: auto;
    text-align: center;
  }
  .contenido-multimedia {
    margin: auto;
    text-align: center;
    display: block;
  }
  footer .redes-sociales {
    display: none;
  }

  footer .enlaces-pagina ul{
    display: block;
  }
}
/* Estilos para pantallas medianas */
@media screen and (min-width: 801px) and (max-width: 1200px) {
  .presentacion h2 {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  #presentacioninicio, #biografia, #datosCuriosos, #colaboraciones {
    padding: 30px;
  }
  #presentacion p, #presentacion li {
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
  }
}

